<!doctype html>
<html>
<head>
 <title>Datastore and Firebase Auth Example</title>
 <script src="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.js"></script>
<link type="text/css" rel="stylesheet"
href="https://www.gstatic.com/firebasejs/ui/4.4.0/firebase-ui-auth.css" />
 <script src="{{ url_for('static', filename='script.js') }}"></script>
 <link type="text/css" rel="stylesheet" href="{{ url_for('static',
filename='style.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="nav" id="nav">
  <input type="checkbox" id="nav-check">
  <div class="nav-header">
    <div class="nav-title">
      GPU DataBase
    </div>
  </div>
  <div class="nav-btn">
    <label for="nav-check">
      <span></span>
      <span></span>
      <span></span>
    </label>
  </div>

  <div class="nav-links">
    <a data-toggle="modal" data-target="#myModal">Add GPU</a>
    <a id="sign-out" hidden="true">Sign out</a>
  </div>
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add GPU</h4>
        </div>
        <div class="modal-body">
          <form action = "/" method = "POST">
           <p>Name <input type = "text" name = "name" /></p>
           <p>Manufacturer <input type = "text" name = "manufacturer" /></p>
           <p>Date Issued <input type = "text" name = "dateIss" /></p>

           <p>GeometryShader <input type = "checkbox" name = "geometryShader" value="yes"/></p>
           <input type = "hidden" name = "geometryShader" value="no"/>

           <p>TesselationShader <input type = "checkbox" name = "tesselationShader" value="yes"/></p>
           <input type = "hidden" name = "tesselationShader" value="no"/>

           <p>ShaderInt16 <input type = "checkbox" name = "shaderInt16" value="yes"/>
           <input type = "hidden" name = "shaderInt16" value="no"/></p>

           <p>SparseBinding <input type = "checkbox" name = "sparseBinding" value="yes"/></p>
           <input type = "hidden" name = "sparseBinding" value="no"/>

           <p>TextureCompressionETC2 <input type = "checkbox" name = "textureCompressionETC2" value="yes"/></p>
           <input type = "hidden" name = "textureCompressionETC2" value="no"/>

           <p>VertexPipelineStoresAndAtomics <input type = "checkbox" name = "vertexPipelineStoresAndAtomics" value="yes"/></p>
           <input type = "hidden" name = "vertexPipelineStoresAndAtomics" value="no" />

           <p><input type = "submit" value = "submit" /></p>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>
   <div id="firebase-auth-container"></div>
   <div id="login-info" hidden="true">
  {% if error %}
  <div class="alert alert-danger" role="alert">
<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
<strong>Error!  {{ error }}</strong>
</div>
  {% endif %}
   {% if user_data %}
   <p>Hi <b>{{ user_data['name'] }} ( {{ user_data['email'] }} )</b></p>
    {% endif %}
   <div class="container">
      <h2>GPU Database</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="text-align:center">Name</th>
          </tr>
        </thead>
        <tbody>
          {% if gpus %}

            {% for gpu in gpus %}
              <tr>
                <td>{{ gpu['Name'] }}</td>
              </tr>
            {% endfor %}
           {% endif %}
        </tbody>
      </table>
    </div>

   </div>
</body>
<script src="https://www.gstatic.com/firebasejs/7.14.5/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.8.0/firebase-auth.js"></script>
<script src="{{ url_for('static', filename='app-setup.js') }}"></script>

</html>
